/.DS_Store
/code-x.c
/.classpath
/.project
/Nova.jar
/Execute.exe
/bin/*
/bin/*/*
/bin/*/*/*
/bin/*/*/*/*
/bin/*/*/*/*/*
/bin/*/*/*/*/*/*
/bin/*/*/*/*/*/*/*
/bin/*/*/*/*/*/*/*/*
/bin/
/.idea/
/.idea/*
/Nova.iml
/doc/
/doc/*