/.DS_Store
/code-x.c
/.classpath
/.project
/Flat.jar
/Execute.exe
/bin/
/out/
target/
/.idea/datasources*
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dictionaries
/.idea/labraries
/.idea/modules
/.idea/modules.xml
/.idea/shelf
/.idea/tasks.xml
/.idea/workspace.xml
/Flat.iml
/doc/
src/META-INF/MANIFEST.MF